.visible {
  visibility: visible
}

.absolute {
  position: absolute
}

.z-10 {
  z-index: 10
}

.m-2 {
  margin: 0.5rem
}

.m-4 {
  margin: 1rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.flex {
  display: flex
}

.h-\[250px\] {
  height: 250px
}

.h-9 {
  height: 2.25rem
}

.h-4 {
  height: 1rem
}

.h-5 {
  height: 1.25rem
}

.h-10 {
  height: 2.5rem
}

.h-\[200px\] {
  height: 200px
}

.h-full {
  height: 100%
}

.min-h-\[320px\] {
  min-height: 320px
}

.min-h-\[300px\] {
  min-height: 300px
}

.w-full {
  width: 100%
}

.w-9 {
  width: 2.25rem
}

.w-4 {
  width: 1rem
}

.w-5 {
  width: 1.25rem
}

.w-1\/2 {
  width: 50%
}

.w-10 {
  width: 2.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black\/40 {
  background-color: rgb(0 0 0 / 0.4)
}

.object-cover {
  object-fit: cover
}

.p-4 {
  padding: 1rem
}

.p-2\.5 {
  padding: 0.625rem
}

.p-2 {
  padding: 0.5rem
}

.pt-2 {
  padding-top: 0.5rem
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity))
}

.text-orange-500 {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

@media (min-width: 640px) {
  .sm\:w-1\/2 {
    width: 50%
  }

  .sm\:items-center {
    align-items: center
  }

  .sm\:justify-center {
    justify-content: center
  }
}

@media (min-width: 768px) {
  .md\:w-1\/3 {
    width: 33.333333%
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/5 {
    width: 20%
  }
}
